* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 微軟正黑體;
}

body {
    min-width: 1000px;
}

.typingCursorWhite {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* menu */

.portfolio-menu {
    position: fixed;
    width: 25%;
    min-width: 275px;
    max-width: 400px;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    overflow: auto;
    z-index: 2;
}

.portfolio-list {
    margin-left: 20%;
    height: 100%;
    border-left-width: 1px;
    border-left-style: solid;
    padding: 21% 7%;
    box-sizing: border-box;
    color: #161616;
}

.portfolio-content a {
    color: inherit;
    text-decoration: none;
}

.portfolio-content p {
    display: table;
    font-size: 18px;
    padding-top: 3px;
}

.portfolio-content span {
    margin-left: 10px;
}

.portfolio-list ul li {
    margin-top: 40px;
    opacity: 0.7;
    transform: scale(1);
}

.portfolio-list ul li:hover {
    color: #3683f9;
    text-shadow: 0 0 2px #40404029;
}

.portfolio-menu .fabb.active {
    transform: scale(1.35);
    transform-origin: left center;
    opacity: 1;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 2px;
    display: table;
}

.portfolio-develop-area {
    width: 75%;
    position: relative;
    left: 25%;
    padding: 100px 25px 50px;
    box-sizing: border-box;
}

.portfolio-develop-section h4 {
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 99;
}

.portfolio-develop-area h4 {
    font-size: 34px;
    font-weight: normal;
    padding: 5px 2px;
    box-sizing: border-box;
}

.portfolio-develop-cards {
    position: relative;
    padding-bottom: 100px;
    padding-left: 1%;
    box-sizing: border-box;
}

.portfolio-develop-card {
    width: 41%;
    display: inline-block;
    position: relative;
    background: rgb(8, 131, 247);
    overflow: hidden;
    box-shadow: 0 0 4px #00000063;
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 4%;
    height: 380px;
    box-sizing: border-box;
    transition: all 0.2s;
}

.portfolio-develop-card:hover {
    background-size: auto 110%;
}

.portfolio-develop-card:hover .develop-cards-privacy {}

.portfolio-develop-card h5 {
    font-size: 26px;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 0 3px #18181847;
}

.portfolio-develop-card p {
    margin-top: 10px;
    font-weight: lighter;
    color: #fff;
    opacity: 0.75;
}

.portfolio-develop-card {
    box-sizing: border-box;
    padding: 15px;
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #a2c7ed;
    position: relative;
}

.portfolio-develop-card .develop-cards {
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.develop-cards-privacy {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #2222227a;
    color: #fff;
    padding: 5px;
}

.portfolio-develop-card1 {
    color: #111111;
    background-image: url(../image/develop/newWebsite.png);
    background-color: #29c4ff;
}

.portfolio-develop-card2 {
    color: #111111;
    background-image: url(../image/develop/newWebsite-en.png);
    background-color: #ececec;
}

.portfolio-develop-card2 h5,
.portfolio-develop-card2 p {
    color: #1a1a1a;
}

.portfolio-develop-card9 {
    color: #111111;
    background-image: url(../image/develop/project-1.jpg);
    background-color: #35261e;
}

.portfolio-develop-card9 h5,
.portfolio-develop-card9 p {}

.portfolio-develop-card4 {
    color: #111111;
    background-image: url(../image/develop/2020newyear.png);
    background-color: #f9f8eb;
}

.portfolio-develop-card3 {
    color: #111111;
    background-image: url(../image/develop/2022newyear.png);
    background-color: #ff5d55;
}

.portfolio-develop-card3 h5,
.portfolio-develop-card3 p {}

.portfolio-develop-card4 {
    color: #111111;
    background-image: url(../image/develop/2020newyear.png);
    background-color: #f9f8eb;
}

.portfolio-develop-card4 h5,
.portfolio-develop-card4 p {
    color: #1a1a1a;
}

.portfolio-develop-card5 {
    color: #111111;
    background-image: url(../image/develop/software1.png);
    filter: blur(1px);
}

.portfolio-develop-card5b {
    background-color: #f9f8eb;
}

.portfolio-develop-card5b h5,
.portfolio-develop-card5b p {
    color: #1a1a1a;
    text-shadow: 0 0 3px #ffffff57;
}

.portfolio-develop-card6 {
    color: #111111;
    background-image: url(../image/develop/software2.png);
    filter: blur(1px);
}

.portfolio-develop-card6b {
    background-color: #95d1ff;
}

.portfolio-develop-card6b h5,
.portfolio-develop-card6b p {
    color: #ffffff;
    text-shadow: 0 0 3px #2c2c2c57;
}

.portfolio-develop-card7 {
    color: #111111;
    background-image: url(../image/develop/software3.png);
    filter: blur(1px);
}

.portfolio-develop-card7b {
    background-color: #e4f1ee;
}

.portfolio-develop-card7b h5,
.portfolio-develop-card7b p {
    color: #2c2c2c;
    text-shadow: 0 0 3px #ffffff57;
}

.portfolio-develop-card8 {
    color: #111111;
    background-image: url(../image/develop/software4.png);
    filter: blur(1px);
}

.portfolio-develop-card8b {
    background-color: #dee1eb;
}

.portfolio-develop-card8b h5,
.portfolio-develop-card8b p {
    color: #2c2c2c;
    text-shadow: 0 0 3px #ffffff57;
}

.portfolio-develop-card-privacy {}


/* UI設計 */

.portfolio-prototype-area {
    width: 75%;
    position: relative;
    left: 25%;
    box-sizing: border-box;
    padding: 50px 0;
}

.portfolio-prototype-menu {
    text-align: end;
    padding: 10px 12% 0;
    position: sticky;
    top: 0;
    background: #ffffff;
}

.portfolio-prototype-area .portfolio-prototype-menu li {
    display: inline-block;
    padding: 5px 20px;
    font-size: 18px;
}

.portfolio-prototype-menu li.active {
    border-bottom: 2px solid #202020;
}

.portfolio-prototype-block {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
    box-sizing: border-box;
}

.portfolio-prototype-card {
    width: 27%;
    margin-right: 3%;
    margin-bottom: 3%;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 3px #20202038;
    box-sizing: border-box;
    transition: all 0.2s;
}

.portfolio-prototype-card:hover {
    box-shadow: 0 0 5px #00a2ff88;
}

.portfolio-prototype-card img {
    width: 100%;
}

.portfolio-prototype-header-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.portfolio-prototype-header-block .portfolio-prototype-button{
    height: 28px;
    padding: 2px 5px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.portfolio-prototype-header-block img{
    width: 28px;
    vertical-align: middle;

}

.portfolio-prototype-text {
    padding: 15px 20px 30px;
}

.portfolio-prototype-text h5 {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.portfolio-prototype-text p {
    font-size: 14px;
}


/* 平面設計 */

.portfolio-graphicDesign-area {
    width: 75%;
    position: relative;
    left: 25%;
    box-sizing: border-box;
}

.portfolio-graphicDesign-areas {
    width: 100%;
    height: 920px;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    padding: 25px 25px 50px;
}

.portfolio-graphicDesign-areas h4 {
    font-size: 24px;
    font-weight: normal;
}

.portfolio-graphicDesign-descraption {
    width: 40%;
    letter-spacing: .2em;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.portfolio-graphicDesign-areas p {
    font-size: 16px;
    font-weight: inherit;
    text-align: revert;
}

.portfolio-graphicDesign-image {
    position: absolute;
    width: 95%;
    height: 100%;
}

.portfolio-graphicDesign-image img {
    width: 100%;
    transition: all 0.2s;
}


/* 平面設計多個顏色 */

.portfolio-graphicDesign-areas {
    color: #080808;
    text-shadow: 0 0 2px #38383833;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #383838;
}

.portfolio-graphicDesign-area1 {
    color: #fff;
}

.portfolio-graphicDesign-area2 {
    color: #fff;
}

.portfolio-graphicDesign-area3 {
    color: #1d1d1d;
    text-shadow: 0 0 3px #38383833;
}

.portfolio-graphicDesign-area4 {
    color: #ffffff;
    text-shadow: 0 0 3px #38383833;
}


/* EDM設計版面 */

.portfolio-edmDesign-area {
    width: 75%;
    position: relative;
    left: 25%;
    padding: 100px;
    box-sizing: border-box;
    background-color: rgb(161, 172, 166);
    color: #ffffff;
}

.portfolio-edmDesign-area .edmDesign-ul {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(35, 1fr);
}

.edmDesign-li {
    position: relative;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 4px #18181833;
    overflow: hidden;
    background: #292929;
}

.portfolio-tooBar,
.edmDesign-tooBar {
    position: absolute;
    background: #ffffffc0;
    right: 10px;
    top: 10px;
    padding: 3px 5px;
    border-radius: 10px;
    transition: all 0.1s;
    box-shadow: 0 0 3px #2020204f;
}

.portfolio-tooBar:hover,
.edmDesign-tooBar:hover {
    background: #ffffff;
}

.portfolio-tooBar a,
.edmDesign-tooBar a {
    color: #161616;
}

.edmDesign-li p {
    padding: 5px 10px;
    color: #ffffff;
}

.edmDesign-li img {
    width: 100%;
}

.portfolio-edmDesign-area .edmDesign-li1 {
    grid-area: 1/1/ span 13 / span 4;
}

.portfolio-edmDesign-area .edmDesign-li2 {
    grid-area: 1/6/ span 14 / span 4;
}

.portfolio-edmDesign-area .edmDesign-li3 {
    grid-area: 1/11/ span 10 / span 4;
}


/* 下一層edm */

.portfolio-edmDesign-area .edmDesign-li4 {
    grid-area: 15/1/ span 14 / span 4;
}

.portfolio-edmDesign-area .edmDesign-li5 {
    grid-area: 16/6/ span 8 / span 4;
}

.portfolio-edmDesign-area .edmDesign-li6 {
    grid-area: 12/11/ span 18 / span 4;
}


/* 下一層edm */

.portfolio-edmDesign-area .edmDesign-li7 {
    grid-area: 25/6/ span 10 / span 4;
}

@media screen and (max-width:1366px) {
    .portfolio-develop-card {
        height: 40vh;
    }
    .portfolio-prototype-card {
        width: 45%;
    }
}

@media screen and (max-width:500px) {
    .portfolio-menu {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 0;
        z-index: 100;
    }
    .portfolio-list {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 0;
        background: #4fa0bb;
        overflow: auto;
    }
    .portfolio-list ul {
        width: 150%;
        display: table;
        overflow: auto;
        background: #4fa0bb;
        box-sizing: border-box;
        padding: 0 5%;
    }
    .portfolio-menu-content {
        width: 65%;
        overflow: auto;
        display: inline-table;
    }
    .portfolio-content {
        background: #4fa0bb;
        padding: 1.5% 5% 0;
        box-sizing: border-box;
        display: inline-table;
    }
    .portfolio-list ul li {
        display: table-cell;
        margin-right: 50px;
        margin-bottom: 20px;
    }
    .portfolio-develop-area {
        padding: 130px 25px 50px;
        left: 0;
    }
    .portfolio-develop-card {
        display: block;
    }
}