* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 微軟正黑體;
}

body {
    min-width: 1000px;
}

.typingCursorWhite {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* menu */

.portfolio-menu {
    position: fixed;
    width: 25%;
    min-width: 275px;
    max-width: 400px;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    overflow: auto;
    z-index: 2;
}

.portfolio-list {
    margin-left: 20%;
    height: 100%;
    border-left-width: 1px;
    border-left-style: solid;
    padding: 21% 7%;
    box-sizing: border-box;
    color: #161616;
}

.portfolio-content p {
    border-top: 2px solid #202020;
    display: table;
    font-size: 18px;
    padding-top: 3px;
}

.portfolio-list ul li {
    margin-top: 40px;
    opacity: 0.7;
    transform: scale(1);
}
.portfolio-list ul li a{
    color: inherit;
    text-decoration: none;
}

.portfolio-list ul li:hover{
    color: #3683f9;
    text-shadow: 0 0 2px #40404029;
}

.portfolio-menu .fabb.active {
    transform: scale(1.35);
    transform-origin: left center;
    opacity: 1;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 2px;
    display: table;
}

.portfolio-banner-background {
    transition: all 0.2s;
}

.portfolio-banner-area {
    background: url(../image/IMAG3262~2.jpg) no-repeat 50% 50%;
    /* background: url(https://www.lcnet.com.tw/img/home/sq_background-01.png) no-repeat 50% 50%; */
    width: 100%;
    height: 1000px;
    background-size: cover;
    position: relative;
}

.bannet-text-left {
    display: block;
    position: absolute;
    margin: auto;
    left: 25%;
    top: 15%;
}
.bannet-text-left::after{
    content: "";
}

.bannet-text-left h3 {
    font-size: 3.5em;
    margin-bottom: 20px;
    letter-spacing: .05em;
    /* background: linear-gradient(to right, #ff43d6 0%, #FF6C83 50%, #9073ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    display: table;
}

.bannet-text-left p {
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.5em;
}

.bannet-text-left button{
    margin: 30px auto;
    font-size: 20px;
    background: #0089FF;

    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    box-shadow: 0 0 3px #ffffff45;
}

.bannet-text-left button a{
    color: white;
    text-decoration: none;
}


.portfolio-individual {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.26);
    display: flex;
    flex-wrap: wrap;
}

.portfolio-individual h5 {
    font-size: 18px;
}

.portfolio-individual .portfolio-language {
    margin-top: 15px;
}


.portfolio-individual .portfolio-language h6,.portfolio-language td {
    font-size: 16px;
    color: #242424;
    margin-bottom: 5px;
    padding: 3px 0;
    font-weight: bold;
}

.portfolio-individual .portfolio-language p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #111111;
}
.portfolio-individual .portfolio-language li {
    list-style: disc;
    margin-left: 7%;
    font-size: 14px;
    color: #363636;
    text-shadow: 0 0 3px #ffffff21;
}

.bannet-text-right {
    display: block;
    position: absolute;
    margin: auto;
    left: 60%;
    top: 15%;
}
.bannet-text-block{
    backdrop-filter: blur(10px);
    background: #ffffff40;
    box-shadow: 0 0 2px #2222221c;
    width: 90%;
    padding: 3%;
    box-sizing: border-box;
}

.bannet-text-right h3 {
    font-size: 3em;
    margin-bottom: 10px;
    letter-spacing: .05em;
    /* background: linear-gradient(to right, #ff43d6 0%, #FF6C83 50%, #9073ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    display: table;
}

.bannet-text-right h4 {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: .15em;
    border-top: 1px solid #111111;
    margin-top: 15px;
    display: table;
}

.bannet-text-right p {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.5em;
}

.portfolio-block p {
    font-size: 1.35em;
    font-weight: lighter;
}



/* resume */
.portfolio-resume-area{
    background-color: #F1BD00;
    display: table;

}


.portfolio-resume-area .resumeSide{
    height: 100%;
    width: 25%;
    background: #444B59;
    display: table-cell;
}
.portfolio-resume-area .resumeSection{
    height: 100%;
    width: 74.5%;
    display: table-cell;
    color: white;
    vertical-align: top;
    box-sizing: border-box;
    padding: 3% 5%;
}

.resumeSection h4{
    font-size: 2.2em;
    font-weight: 500;
}

.resumeSection .resumeCard{
    width: 100%;
    background: #fff;
    border-radius: 20px;
    margin: 25px 0 50px 0;
    box-sizing: border-box;
    padding: 2.5%;
}
.resumeCard>p{
    color: #444B59;
    font-size: 36px;
    border-bottom: 2px solid #444B59;
    display: table;
    padding-bottom: 5px;
    font-weight: bold;
}

.resumeCard .resume-block{

}

.resumeSection .resumeContent{
    display: block;
}

.resumeContent .resume-block{
    display: block;
    color: #444B59;
    padding: 20px 0;
}
.resume-timeline{
    position: relative;
}

.resume-timeline::before{
    content: "";
    height: 95%;
    background: #444B59;
    width: 2px;
    position: absolute;
    left: 5%;
    z-index: 10;
    bottom: 0;
    margin: auto;
}

.resume-block .resume-timeline li{
    box-sizing: border-box;
    z-index: 20;
    position: relative;
    margin-left: 105px;
}

.resume-block .resume-timeline li::before{
    content: "";
    width: 20px;
    height: 20px;
    background: #0089FF;
    border-radius: 50%;
    vertical-align: top;   
    border: 2px solid #0089FF;
    position: absolute;
    left: -63px;
    margin-top: 12px;
}

.resume-div{
    display: inline-block;
    width: 85%;
    margin-bottom: 15px;
}

.resume-block li .resume-Title{
    font-size: 28px;
    line-height: 45px;
}

.resume-block li .resume-date{
    font-size: 18px;
    color: #F1BD00;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resume-block li .resume-content{
    font-size: 16px;
}



/* progress */
.resume-card{
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 3px #2a2a2a33;
    border-radius: 15px;
    margin: 20px 0;
}

.resume-card h4{
    font-size: 20px;
    color: #444B59;
    font-weight: 600;
    margin-bottom:15px;
}

.resume-progress{
    margin-bottom: 20px;
}

.resume-progress p{
    color: #444B59;
    margin-bottom: 5px;
}


progress{
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 10px;
    overflow: hidden;
  }  

.resume-block  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
  }

.resume-block  progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(left, #00FEFF, #00A9FF);  
      border-radius: 10px; 

  }

.resume-block-skill ul{
    display: flex;
    justify-content:space-between;
}

  .resume-block-skill li{
      flex: 0 0 2;
      width: 23%;
}

@media screen and (max-width:1366px) {
    .portfolio-develop-card {
        height: 40vh;
    }
    .portfolio-prototype-card {
        width: 45%;
    }
}