* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ui-view-banner {
    height: 101vh;
    display: flex;
}

.ui-view-left {
    width: 35%;
    height: 100%;
    display: inline-block;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.ui-participates{
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 2px #2e2e2e69;
    margin: 3px;
}

.ui-participate-uiux{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.ui-participate-design{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);    
}
.ui-participate-flowChart{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);    
    color: #fff;
}
.ui-participate-webDevelop{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);    
}

.ui-view-left .ui-icon-block{
    display: flex;
}

.ui-view-left .ui-banner-content h4{
    
}

.ui-view-left  .ui-banner-content p{
    margin-bottom: 15px;
}

.ui-view-left .ui-icon-block img{
    width: 48px;
    height: 48px;
    padding: 6px;
    box-sizing: border-box;
}

.ui-view-right {
    width: 64%;
    height: 100%;
    display: inline-block;
    background-color: rgb(241, 243, 245);
    position: relative;
    background-image: url(../image/develop/2020newyear.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-left: 1px solid #a0a0a0;
    box-sizing: border-box;
}

.ui-goBack-button {
    position: absolute;
    left: 20px;
    top: 20px;
}

.ui-goBack-button i {
    display: inline-block;
}

.ui-goBack-button p {
    display: inline-block;
    margin-left: 5px;
}

.ui-goBack-button a{
    text-decoration: none; 
    cursor: pointer;   
    color: #313131;
}

.ui-banner-content {
    margin-left: 80px;
    width: 80%;
}

.ui-banner-content h3 {
    margin-bottom: 0;
    margin-bottom: 10px;
    font-size: 36px;
}

.ui-banner-content ul li {
    margin-top: 15px;
}

.ui-banner-content ul li h4,
.ui-banner-content ul li p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


/* 研究與討論區塊 */

.ui-view-research {
    color: #ffffff;
}


.ui-research-block {
    width: 60%;
    padding: 100px 0 150px;
    margin: auto;
    position: relative;
}

.ui-research-block h4 {
    font-size: 30px;
    border-left: 3px solid #ffffff;
    padding-left: 10px;
}

.ui-research-content {
    padding: 20px 50px;
}

.ui-research-content li {
    margin-top: 30px;
}

.ui-research-content li h5 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: normal;
}
.ui-research-content li h6{
    font-size: 16px;
    margin-top: 10px;
}

.ui-research-content li p {
    font-size: 16px;
    line-height: 28px;
}




/* 研究與討論區塊 */

.ui-view-design {
    background-color: #FBF4F4;
}



.ui-design-block {
    width: 60%;
    padding: 100px 0;
    margin: auto;
    position: relative;
}

.ui-design-block h4 {
    font-size: 30px;
    padding-left: 10px;
}

.ui-design-content {
    padding: 20px 50px;
    position: relative;
}

.ui-design-content li {
    margin-top: 30px;
}

.ui-design-content li h5 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: normal;
}

.ui-design-content li p {
    font-size: 16px;
    color: #313131;
}

.ui-design-prototype {
    padding-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.ui-design-prototype img {
    width: 30%;
    margin: 10px;
    vertical-align: top;
    box-shadow: 0 0 5px #2a2a2a88;
    box-sizing: border-box;
}

.ui-design-prototype-learnmore {
    color: #313131;
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(0deg, #fbf4f4 0%, #fbf4f4 70%, transparent 100%);
    bottom: 15px;
    position: absolute;
    width: 100%;
}

.ui-design-prototype-learnmore:hover {
    color: #313131;
}

.ui-design-prototype-learnmore p {
    color: #313131;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #313131;
    display: table;
    margin: auto;
    transition: all 0.2s;
}

.ui-design-prototype-learnmore p:hover {
    color: #5491EE;
    border: 1px solid #5491EE;
}

/* 色彩計畫 */
.ui-view-colorScheme{
    background-color: #ffffff;    
}

.ui-colorScheme-block {
    width: 60%;
    padding: 100px 0 50px;
    margin: auto;
    position: relative;
}

.ui-colorScheme-block h4 {
    font-size: 30px;
    padding-left: 10px;
}

.ui-colorScheme-content {
    padding: 20px 50px;
    position: relative;
}

.ui-colorScheme-areas{
    margin: 20px 0 40px;
}

.ui-colorScheme-areas ul{
    display: flex;
}

.ui-colorScheme-areas ul li{
    padding: 10px 15px;
}

.ui-colorScheme-content h5{
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: normal;
}

.ui-colorScheme-content  .ui-colorScheme-shapes{
    width: 75px;
    height: 75px;
    border-radius: 5px;
    background: #F33433;
}

.ui-colorScheme-block .ui-colorScheme-content h5{
    color: #313131;
}

/* 設計重點 */

.ui-view-focus {
    background-color: #ffffff;
}

.ui-focus-block {
    width: 60%;
    padding: 100px 0 50px;
    margin: auto;
    position: relative;
}

.ui-focus-block h4 {
    font-size: 30px;
    padding-left: 10px;
}

.ui-focus-content {
    padding: 20px 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ui-focus-content li {
    margin-top: 30px;
}

.ui-focus-content li h5 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: normal;
}

.ui-focus-content li p {
    font-size: 16px;
    color: #313131;
}

.ui-focus-content .ui-focus-images {
    display: inline-block;
    flex: 0 0 30%;
}

.ui-focus-content .ui-focus-images img {
    border-radius: 10px;
    box-shadow: 0 0 4px hsla(0, 0%, 19%, 0.2);
}

.ui-focus-content h6 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.ui-focus-content .ui-focus-old h6 {
    color: #313131;
}

/* prototype區塊 */
.ui-view-prototype{
    background-color: #F33433;
}

.ui-prototype-block{
    width: 100%;
    padding: 10px;
    margin: auto;
    position: relative;
    background: #fff;
    border-radius: 10px;
    margin: 20px auto;
}

.ui-prototype-block h4 {
    font-size: 30px;
    padding-left: 10px;
}

/* 共同的 */
.ui-test .ui-colorScheme-block h4,
.ui-test .ui-prototype-block h4,
.ui-test  .ui-focus-block h4,
.ui-test  .ui-design-block h4 {
    border-left: 3px solid #F33433;
}
.ui-test .ui-colorScheme-block,
.ui-test .ui-view-prototype,
.ui-test .ui-view-focus,
.ui-test .ui-view-design{
    color: #F33433;
}

.ui-test .ui-view-prototype h4{
    color: #ffffff;
    border-left: 3px solid #ffffff;
}

.ui-test .ui-view-research {
    background-color: #F33433;
}

